@import "../../../assets/color.scss";

.site {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    background: var(--background-primary);
    position: relative;

    & > *:first-child {
        max-width: 20rem;
        min-width: 20rem;
        overflow-y: scroll;
        overflow-x: hidden;

        transition: margin-left .5s ease-in, box-shadow 1s linear;

        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar { 
            display: none; 
        }
    }

    .main {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;

        & > *:first-child {
            min-height: 3rem;
        }

        & > *:last-child {
            overflow: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar { 
                display: none; 
            }
        }
    }

    &.hideSidebar {
        justify-content: flex-end;

        & > *:first-child {
            box-shadow: none;
            margin-left: -21rem;
            opacity: 0;
        }
    }
}