.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    & > *:not(:last-child) {
        margin-bottom: -2px;
    }
}