@import "../../../assets/color.scss";

.button {
    --x: 0;
    --y: 0;
    --r: 100;
    --d: 1;

    appearance: none;
    outline: none;
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;

    box-sizing: border-box;

    &.inline {
        width: 32px;
        height: 32px;
        min-width: 32px;
        min-height: 32px;
        max-width: 32px;
        max-height: 32px;

        display: flex;
        justify-content: center;
        align-items: center;

        box-sizing: border-box;

        color: var(--text-primary);

        border-radius: 50%;
        background: transparent;
        box-shadow: makeBoxShadow(2);

        transition: box-shadow .2s linear;

        &:active, &.btnActive {
            box-shadow: inset 0 2px 4px rgba(0,0,0,0.23), inset 2px -2px 4px rgba(0,0,0,0.20);
        }

        .comp_iconContainer {
            padding: .3rem;
        }
    
        &.large {
            padding: .2rem;
            width: calc(32px + .4rem);
            height: calc(32px + .4rem);
            min-width: calc(32px + .4rem);
            min-height: calc(32px + .4rem);
            max-width: calc(32px + .4rem);
            max-height: calc(32px + .4rem);
        }
    }

    &.flat {
        box-shadow: none;
    }

    &:not(.inline) {
        // box-sizing: border-box;
        color: var(--input-text-primary);
        background: var(--input-bg-primary);
        padding: .5rem 1rem;
        border-radius: 4px;
        box-shadow: makeBoxShadow(2);//makeShadow(0), makeShadow(0, "secondary", false);
        // overflow: hidden;
        position: relative;
        transition: box-shadow .2s linear;

        & > div {
            box-sizing: border-box;
            // display: flex;
            // flex-direction: row;
            // justify-content: flex-start;
            // align-items: center;
            width: 100%;
            max-height: 100%;
            // position: relative;

            .comp_iconContainer {
                min-height: 1rem;
                min-width: 1rem;
                max-height: 1rem;
                max-width: 1rem;
                padding: 0px;
                margin-right: .5rem;
            }

            .comp_icon {
                min-height: 1rem;
                min-width: 1rem;
                max-height: 1rem;
                max-width: 1rem;
                display: block;
            }

            span {
                display: inline-block;
            }
        }

        &:active, &.btnActive {
            box-shadow: none;
        }
    }

    .rippleBox {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        left: 0;
        top: 0;
        border-radius: 4px;

        &:before {
            content: "";

            position: absolute;
            display: block;
            border-radius: 50%;
            width: 0px;
            height: 0px;
            background: white;

            opacity: .4;

            transform: translate(0px, 0px);
            transition: none;
        }

        &.ripple:before {
            content: "";

            opacity: .1;

            top: calc(var(--y) * 1px);
            left: calc(var(--x) * 1px);
            
            width: calc(var(--r) * 1px); 
            height: calc(var(--r) * 1px);
            transition: width calc(var(--d) * 1ms) linear, height calc(var(--d) * 1ms) linear, transform calc(var(--d) * 1ms) linear, opacity calc(var(--d) * 1ms) linear;
            transform: translate(calc((var(--r) / 2) * -1px), calc((var(--r) / 2) * -1px));
        }
    }

    &.search {
        background: var(--input-bg-search);
        color: #fff;
        padding-right: 2rem;
        padding-left: 2rem;
    }

}

@keyframes ripple {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(20, 20);
    }
}