@import "../../../assets/color.scss";

.button {
    --x: 0;
    --y: 0;
    --r: 100;
    --d: 1;

    appearance: none;
    outline: none;
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;

    // box-sizing: content-box;
    // height: 1rem;

    text-align: left;

    -webkit-tap-highlight-color: #0000;
    
    &.inline {
        width: 32px;
        height: 32px;
        min-width: 32px;
        min-height: 32px;
        max-width: 32px;
        max-height: 32px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--text-primary);

        border-radius: 50%;
        background: transparent;
        box-shadow: 2px 2px 4px var(--shadow-primary-color), -1px -1px 2px var(--shadow-secondary-color);

        transition: box-shadow .2s linear;

        &:active, &.btnActive {
            box-shadow: inset 1px 1px 3px var(--shadow-primary-color), inset -1px -1px 3px var(--shadow-secondary-color);
        }
    
        &.large {
            padding: .2rem;
            width: calc(32px + .4rem);
            height: calc(32px + .4rem);
            min-width: calc(32px + .4rem);
            min-height: calc(32px + .4rem);
            max-width: calc(32px + .4rem);
            max-height: calc(32px + .4rem);
        }
    }

    &.flat {
        box-shadow: none;
    }

    &:not(.inline) {
        color: var(--input-text-primary);
        background: var(--input-bg-primary);
        padding: .5rem 1rem;
        border-radius: 4px;
        box-shadow: 2px 2px 4px var(--shadow-primary-color), -1px -1px 2px var(--shadow-secondary-color);
        overflow: hidden;
        position: relative;
        transition: box-shadow .2s linear;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            max-height: 100%;
            position: relative;

            .iconContainer {
                padding: 0px;
                margin-right: .5rem;
            }

            .icon {
                height: 1rem;
                width: 1rem;
                display: inline-block;
            }

            span {
                display: inline-block;
            }
        }

        &:active, &.btnActive {
            box-shadow: none;
        }

        &:before {
            content: "";

            position: absolute;
            display: block;
            border-radius: 50%;
            width: 0px;
            height: 0px;
            background: white;

            opacity: .4;

            transform: translate(0px, 0px);
            transition: none;
        }

        &.ripple:before {
            content: "";

            opacity: .1;

            top: calc(var(--y) * 1px);
            left: calc(var(--x) * 1px);
            
            width: calc(var(--r) * 1px); 
            height: calc(var(--r) * 1px);
            transition: width calc(var(--d) * 1ms) linear, height calc(var(--d) * 1ms) linear, transform calc(var(--d) * 1ms) linear, opacity calc(var(--d) * 1ms) linear;
            transform: translate(calc((var(--r) / 2) * -1px), calc((var(--r) / 2) * -1px));
        }
    }

    &.search {
        background: var(--input-bg-search);
        color: #fff;
        padding-right: 2rem;
        padding-left: 2rem;
    }

}

@keyframes ripple {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(20, 20);
    }
}