.container {
    box-sizing: border-box;

    .fill {
        width: 100%;
        height: 100%;
    }

    &.p1 {
        padding: 1rem;
    }

    &.p2 {
        padding: 1.5rem;
    }

    &.p3 {
        padding: 2rem;
    }
}