@import "color";
    
.bt_card {
    $border-radius: 8px;

    --enclosing-out: rgba(231, 231, 231, 0.637);
    --enclosing-in: rgba(231, 231, 231, 0);

    @media (prefers-color-scheme: dark) {
        --enclosing-out: rgba(36, 36, 36, 0.6);
        --enclosing-in: rgba(36, 36, 36, 0);
    }

    box-shadow: 6px 6px 16px var(--shadow-primary), -6px -6px 16px var(--shadow-secondary);
    background-color: var(--background-main);
    border-radius: $border-radius;
    color: var(--text-main);
    border: none;

    .card-header, .card-footer {
        border: none;
    }

    .card-header {
        border-radius: $border-radius $border-radius 0px 0px;
        background: linear-gradient(to bottom, var(--enclosing-out) 80%, var(--enclosing-in));
    }

    .card-footer {
        border-radius: 0px 0px $border-radius $border-radius;
        background: linear-gradient(to top, var(--enclosing-out) 80%, var(--enclosing-in));
    }
}