.highResImage {
    // transition: opacity ease-in 1000ms;
    width: 100%;
    height: 100%;
    position: relative;
}

.imageLoader {
    --c1: #d8dee988;
    --c2: #eceff488;

    position: absolute;
    background: #ccc;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    animation: pulse 2s infinite linear forwards;
    border-radius: 10px;
}

:root.darkMode .imageLoader {
    --c1: #d8dee988;
    --c2: #eceff488;
}

@keyframes pulse {
    from {
        background: var(--c1);
    }

    50% {
        background: var(--c2);
    }

    to {
        background: var(--c1);
    }
}

@keyframes wave{
    0%{
        background-position: -100vw 0
    }
    100%{
        background-position: 100vw 0
    }
}