@import '../../../assets/color.scss';
@import "../../../assets/breakpoints.scss";


.sidebar {
    height: 100%;
    // width: calc(100% - 10rem);
    box-shadow: 2px 0px 4px var(--shadow-primary-color);
    padding: 1rem 0px .5rem 1rem;
    background: var(--background-accent);
    z-index: 10000;
    margin: 0px;

    .header {
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 0.1rem;
        color: var(--text-primary);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .header-icon {
            height: 2rem;
            width: 2rem;
            margin-right: 1rem;
        }
    }

    .body {
        width: 80%;
        padding: 2rem 0px 3rem 20%;
        position: relative;
        display: inline-block;

        * {
            width: 100%;
        }

        .action {
            color: var(--text-primary);
            font-size: 1.2rem;
            background: transparent;
            border: none;
            box-shadow: none;
            text-align: left;
            display: flex;
            flex-direction: row;
            padding: 1rem 0px;
            cursor: pointer;
            align-items: center;
            justify-content: flex-start;
            margin: 1rem 0px;
            border-radius: 4px 0px 0px 4px;
            transition: box-shadow .2s linear, padding-left .2s linear;
            position: relative;
            
            -webkit-tap-highlight-color: #0000;

            .text {
                position: relative;
                width: auto;
            }

            .text.active::before {
                content: "";
                margin-top: 1.4rem;
                position: absolute;
                display: inline-block;
                width: 100%;
                height: 2px;
                border-radius: 1px;
                background: var(--highlight-positive);
            }

            &:first-of-type {
                margin-top: 0px;
            }

            &:last-of-type {
                margin-bottom: 0px;
            }

            &:hover {
                box-shadow: 2px 2px 4px var(--shadow-primary-color), -1px -1px 2px var(--shadow-secondary-color);
                padding-left: 4%;
            }

            &:active, &.btnActive {
                box-shadow: inset 1px 1px 3px var(--shadow-primary-color), inset -1px -1px 3px var(--shadow-secondary-color);
            }

            .icon {
                font-weight: bold;
                width: 25px;
                height: 25px;
                align-items: stretch;
                justify-content: stretch;
                vertical-align: baseline; 

                &:not(.visible) {
                    display: none;
                }
            }

            .leading {
                margin-right: 1rem;
            }
        }

        .group {
            border-radius: 5px 0px 0px 5px;
            box-shadow: inset 0px 0px 4px var(--shadow-primary-color);
            padding: 1rem 0px 1rem 1rem;
            margin: 3rem 0px;
            position: relative;

            .caption {
                color: var(--text-primary);
                font-size: 1.4rem;
                font-weight: bold;
            }

            .group-header {
                width: calc(100% - 2rem);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            & *.action:first-of-type {
                margin-top: 1rem;
            }

            & > *:not(.group-header) {
                transition: 
                    margin .2s linear, 
                    height .2s linear, 
                    padding .2s linear, 
                    opacity .2s linear;
            }

            &.collapsed > *:not(.group-header ) {
                font-size: 0rem;
                height: 0px;
                padding: 0px;
                margin: 0px;
                opacity: 0;
            }

            .group-header > *:last-child {
                opacity: 1;
                transition: opacity .2s linear;
            }

            &:not(.collapsed) .group-header > *:last-child {
                opacity: 0;
                transition: opacity .2s linear;
            }
        }
    }
}

@media screen and (max-width: $mobile) {

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem 0px;
        border-radius: 30px 30px 0px 0px;
        height: 100%;
        box-shadow: 0px -1px 4px var(--shadow-primary-color);

        .header {
            margin-bottom: 3rem;
            margin-top: 2rem;
        }

        .body {
            max-width: 90%;
            width: unquote($string: "min(70%, 20rem)");
            padding: 0px;
            margin: 0px;

            & > * {
                width: 100%;
            }

            .action {
                border-radius: 4px;
                user-select: none;

                &:hover {
                    box-shadow: none;
                    padding: 1rem 0px;
                }

                &:active, &.btnActive {
                    transition-duration: .1s;
                    padding-left: 4%;
                    box-shadow: inset 1px 1px 3px var(--shadow-primary-color), inset -1px -1px 3px var(--shadow-secondary-color);
                }
            }

            .group {
                border-radius: 4px;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: calc(100% - 2rem);

                .group-header {
                    width: 100%;
                }

                & > *:not(:first-child) {
                    max-width: 90%;
                }
            }
        }
    }

}
