.background-image {
  opacity: 0.8;
  object-fit: cover;
  max-width: 100%;
  overflow: hidden;
}

.card {
  width: 1000px;
  max-width: 80vw;

  .content {
    padding: max(20%, 2rem);
  }
}

.clip {
  $mask-top: url(../../../../public/wave-top.svg) top / auto auto no-repeat;
  $mask-mid: url(../../../../public/rect.svg) center / auto
    calc(100% - 30vw + 8px) repeat-x;
  $mask-bottom: url(../../../../public/wave-bottom.svg) bottom / auto auto
    no-repeat;

  mask: $mask-top, $mask-mid, $mask-bottom;

  padding: 8rem 0px;
  width: 100%;
  overflow: hidden;
  max-height: max-content;
}
