@import "../../../assets/color.scss";

@font-face {
    font-family: VeteranTypewriter;
    src: url("../../../fonts/VeteranTypewriter.ttf") format("truetype");
}

.typewriter {
    font-family: VeteranTypewriter;
    font-size: 1.5rem;
    text-align: left;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;

    &.animated {
        span {
            display: inline-block;
            position: relative;

            &.active::after {
                content: "|";
                
                padding: 0px .1rem;
                animation: blink 1s linear 0s infinite;
            }
        }
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1
    }

    99% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}