@import "../../styles/breakpoints.module.scss";

.text {
  all: unset;
  color: var(--text-primary);
  display: inline-block;
}

.body,
.button-primary {
  font-size: 1rem;
  font-weight: 400;
}

.button-contrast {
  font-size: 1rem;
  color: var(--text-contrast);
}

.banner {
  font-size: 1.5rem;
}

.nav-link,
.body-secondary {
  font-size: 1rem;
  color: var(--text-secondary);
}

.hero-title {
  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: -3px;
  background-clip: text;
  background-image: var(--text-hero);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: transparent;
  background-size: auto;
  background-origin: padding-box;
}

.hero-subtitle {
  font-size: 1.5rem;
  color: var(--text-secondary);
}

.card-hero-title {
  font-weight: 600;
  font-size: 2.25rem;
}

.card-hero-body {
  font-size: 1.5rem;
  font-weight: 400;
}

.card-title,
.heading {
  font-size: 1.25rem;
  font-weight: medium;
}

@media screen and (max-width: $bp-desktop) {
  .hero-title {
    font-size: 4rem;
    letter-spacing: -2px;
  }
}

@media screen and (max-width: $bp-tablet) {
  .hero-title {
    font-size: 3rem;
    letter-spacing: -1px;
  }
}
