:root { 
    // Background 
    --background-primary: #eceff4;
    --background-accent: #fff;

    // Typography
    --text-primary: #3b4253;
    --text-accent: #3b4253;
    --text-silent: rgb(121, 121, 121);

    // Input
    --input-bg-primary: #4c566b;
    --input-bg-search: #a2bf8a;
    --input-bg-user: #fff;
    --input-text-primary: #fff;
    --input-text-user: #000;

    // Shadow
    --shadow-primary-color: #B7B7B7;
    --shadow-secondary-color: #E8E8E8;

    // Other
    --highlight-positive: #a2bf8a;//#2AC940;
    --highlight: rgb(47, 64, 223);
}

:root.darkMode {
    // Background 
    --background-primary: #121212;
    --background-accent: #323232;

    // Typography
    --text-primary: rgb(255, 255, 255, 87%);
    --text-accent: rgb(255, 255, 255, 87%);
    --text-silent: rgb(121, 121, 121);

    // Input
    --input-bg-primary: #505050;
    --input-bg-search: #334436;
    --input-bg-user: rgb(255, 255, 255, 87%);
    --input-text-primary: rgb(255, 255, 255, 87%);
    --input-text-user: rgb(255, 255, 255, 87%);

    // Shadow
    --shadow-primary-color: #222222;
    --shadow-secondary-color: #3b3b3b88;

    // Other
    --highlight-positive: #2AC940;
    --highlight: rgb(56, 76, 255);
}

body {
    background: var(--background-primary)
}